body {
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}


.logo {
    font-size: 24px;
    font-weight: 500;
}

.header-top {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.header-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}




.header-content {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: center;
    gap: 30px;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.hb-header {
    font-size: 48px;
    font-weight: 800px;
}

.text {
    font-size: 18px;
}

.hb-button {
    background-color: black;
    color: whitesmoke;
    padding: 5px 20px;
}

.header-image {
    width: 300px;
    height: auto;
}

.info {
    background-color: black;
    color: whitesmoke;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.info-header {
    font-size: 36px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.info-content  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.image {
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.images {
    max-width: 200px;
    border-radius: 5px;
}

.quotes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 100px;
    flex: 1;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.quoted {
    font-size: 24px;
    padding-left: 450px;
}

.news {
    background-color:black;
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.news-header {
    font-size: 20px;
    font-weight: bold;
}

.newsblock {
    background-color: whitesmoke;
    padding: 40px 80px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.news-button {
    background-color: whitesmoke;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}